#include <winresrc.h>
#include "resource.hpp"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(65001)

CONFIG DIALOG 0, 0, 100, 70
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "WAVファイル出力の設定"
FONT 9, "ＭＳ Ｐゴシック"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 50, 40, 14
 CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 50, 40, 14
 AUTORADIOBUTTON "16bit short", IDC_16S, 8, 8, 46, 8, WS_GROUP
 AUTORADIOBUTTON "32bit float", IDC_32F, 8, 20, 46, 8
 AUTORADIOBUTTON "ステレオ", IDC_STEREO, 56, 8, 40, 8, WS_GROUP
 AUTORADIOBUTTON "モノラル", IDC_MONAURAL, 56, 20, 32, 8
 AUTORADIOBUTTON "オート", IDC_AUTO, 56, 32, 32, 8
}
